body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    padding: 10px;
}

/* Sidebar from https://forums.asp.net/t/2117521.aspx?Dash+Board+sidebar+menu */
.sidebar {
    position: fixed;
    width: 200px;
    height: calc(100vh);
    background: #006064;
    color: #DDD;
}

.sidebar > ul > li > a {
    color: #DDD;
}

.sidebar > ul {
    width: 200px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar > ul > li {
    padding: 16px;
    transition: 0.5s;
}

.sidebar > ul > li:hover {
    background: #00838f;
    color: #fff;
    cursor: pointer;
}

.content {
  padding-left: 220px;
}
